/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* VARIABLES */
:root {
  --color-bg: #dcacac;
  --color-card: #fff;
  --color-heading: #a10000;
  --color-text: #222;
  --color-gray: #ebebeb;
  
}

body {
  background-color: var(--color-bg);
  font-family: "Inter", sans-serif;
  color: var(--color-text);
}

.page {
  display: flex;
  justify-content: center;
  padding: 0px 60px;
  height: 97vh;
}

.card {
  width: 800px;
  background: var(--color-card);
}

.hero-img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.content {
  padding: 24px 20px;
}

h1 {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-heading);
}

.intro {
  font-size: 11px;
  background-color: var(--color-gray);
  padding: 10px;
  margin: 16px 0;
}

