/* RESET */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* VARIABLES */
:root {
  --color-bg: #dcacac;
  --color-card: #fff;
  --color-heading: #a10000;
  --color-text: #222;
  --color-gray: #ebebeb;
  
}

img {
  max-width: 100%;
  display: block;
}

body {
  background-color: var(--color-bg);
  font-family: "Inter", sans-serif;
  color: var(--color-text);
  line-height: 2;
}

.page {
  display: flex;
  justify-content: center;
  padding: 0 60px;
  margin-bottom: 20px;
}

.card {
  width: min(800px, 100%);
  background: var(--color-card);
}

.hero-img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.content {
  padding: 24px 20px;
}

h1 {
  font-size: 18px;
  font-weight: 600;
  color: var(--color-heading);
}

h2 {
  font-size: 15px;
  font-weight: 600;
  margin: 20px 0 10px;
}

.intro {
  font-size: 11px;
  background-color: var(--color-gray);
  padding: 10px;
  margin: 16px 0;
}

.info {
  margin: 20px 0 20px;
  font-size: 13px;
}

ul, ol {
  padding-left: 25px;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
  margin-top: 18px;;
}

.gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media (max-width: 600px) {
  body {
    font-size: 14px;
  }
  .page {
    padding: 0;
  }

  .gallery {
    grid-template-columns: 1fr;
  }

  .gallery img {
    max-width: 100%;
  }
}

